:root {
  --block-size: 3em;
  --block-inner-size: calc(var(--block-size) - var(--space-s));

  --border-size: 1px;
  --border-color: var(--foreground);
  --border-style: solid;
  --border:
    var(--border-size) 
    var(--border-style)
    var(--border-color);
}

.page {
  margin: auto;
  max-width: calc(100vw - var(--space-xl));
  width: 2400px;
  transition: background .4s ease-in-out;

  @media (max-width: 500px) {
    max-width: calc(100vw);
  }

  @media (max-width: 2000px) {
    width: 1300px;
  }
}

.block {
  display: flex;
  align-items: center;
  height: var(--block-size);
  padding: 0px var(--space-s);
}

.rounded {
  border-radius: var(--radius);
}

.border {
  border: var(--border);
  border-radius: var(--radius);
}

.panel {
  border-radius: var(--radius);
  padding: var(--space-m);
  background-color: var(--background-10);
}

.compact-panel {
  border-radius: var(--radius);
  padding: var(--space-s);
  background-color: var(--background-10);
}

.post-flex {
  display: flex;
  gap: var(--space-s);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.color-flip {
  filter: invert(90);
  img, .img {
    filter: invert(1);
    &::after {
      filter: invert(90);
    }
  }
}