button {
  background: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0px;
}

button:not(.plain) {
  background: var(--background-10);
  border-radius: var(--radius);
  border: 0px
    var(--border-style)
    var(--foreground-20);

  min-width: var(--block-inner-size);
  min-height: var(--block-inner-size);
  max-height: var(--block-inner-size);
}

button.primary {
  min-width: var(--block-size);
  min-height: var(--block-size);
  max-height: var(--block-size);
}

button.active {
  background: var(--accent-20);
  color: var(--accent);
}

button:disabled {
  background: var(--foreground-10);
  color: var(--foreground-20);
  cursor: not-allowed;
  pointer-events: none;
}

button:focus
button:active {
  outline: 0px;
}

button:focus:not(.plain),
button:active:not(.plain),
textarea:focus:not(.plain),
textarea:active:not(.plain),
.focus:focus:not(.plain),
.focus:active:not(.plain) {
  outline: 2px
    var(--border-style)
    var(--accent);
}

img {
  object-fit: cover;
}

.ProseMirror {
  position: relative;
}

