html {
  background: var(--background);
  color: var(--foreground);
}

:root { 
  --background: #0c0915;
  --background-10: #1e1a23;
  --background-20: #423b40;
  --foreground: #c0aea3;
  --foreground-10: #9c8d87;
  --foreground-20: #665c5c;
  --accent: #c97074;
  --accent-contrast: #0c0915;
  --accent-10: #a35b61;
  --accent-20: #6b3d45;
  --success: #00ff00;
  --success-contrast: #0c0915;
  --success-10: #00ff00;
  --success-20: #00ff00;
  --error: #ff0000;
  --error-contrast: #0c0915;
  --error-10: #ff0000;
  --error-20: #ff0000;
}
