@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
  --font-bold: "wght" 900, "wdth" 100;
  --font-semibold: "wght" 800, "wdth" 100;
  --font-medium: "wght" 700, "wdth" 100;
  --font-regular: "wght" 200, "wdth" 100;
  --font-light: "wght" 100, "wdth" 100;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter", "Flexa", sans-serif;
  font-size: clamp(16px, 1vw, 24px);
}

body {
  line-height: 1.5;
}

h1, .h1, 
h2, .h2, 
h3, .h3, 
button {
  max-width: clamp(100px, 100vw, 55ch);
  text-transform: uppercase;
  transition: color .4s ease-in-out;
}

h1, .h1 {
  --size: clamp(3.2rem, 5vw, 5rem);
  font-size: var(--size);
  line-height: var(--size);
  font-variation-settings: var(--font-bold);
}

h2, .h2 {
  --size: clamp(2.5rem, 4vw, 3rem);
  font-size: var(--size);
  line-height: var(--size);
  font-variation-settings: var(--font-bold);
}

h3, .h3 {
  --size: clamp(1.5rem, 4vw, 2rem);
  font-size: var(--size);
  line-height: var(--size);
  letter-spacing: -0.5px;
  font-variation-settings: var(--font-medium);
}

::-moz-selection,
::-webkit-selection,
::selection { 
  color: var(--accent) !important;
  background: var(--accent-20) !important;
}

p, button, .bodycopy, blockquote {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.3rem;
  letter-spacing: 0px;
  max-width: clamp(300px, 100vw, 500px);
  font-variation-settings: var(--font-regular);
  color: var(--foreground);
  transition: color .4s ease-in-out;
  span,
  strong {
    font-variation-settings: var(--font-bold);
  }
  &.slugline {
    //text-transform: uppercase;
    //letter-spacing: 0.1rem;
    font-size: 1.3rem;
    line-height: 1.2;
    font-variation-settings: var(--font-bold);
  }
  &.caption {
    font-size: 1rem;
    line-height: 1rem;
    font-variation-settings: var(--font-light);
  }
}

button {
  font-variation-settings: var(--font-semibold);
  font-weight: 900;
  text-transform: lowercase;
}
