html {
  background: var(--background);
  color: var(--foreground);
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  gap: 1em;

  width: 40em;
  max-width: 100vw;
  padding: 4em;
  margin: auto;
}

p, li, a, h1, h2, h3, h4, h5, h6 {
  max-width: 500px;
  margin: 0px;
}

span {
  color: var(--accent);
}

p.caption {
  color: var(--foreground-10);
}

p.caption-faint {
  color: var(--foreground-20);
}

div.card {
  margin-top: 1em;
  background: var(--background-10);
  padding: 2em;
}

div.faint {
  min-height: 20px;
  background: var(--background-20);
  padding: 2em;
}

.ranges {
  display: flex;
  gap: 0em;
  margin-bottom: 10em;
}

.range {
  display: flex;
  flex-direction: column;
  gap: 0em;
  outline: solid 0px var(--accent);
  transition: .2s;
}

.range:hover {
  gap: 1em;
  outline: solid 3px var(--foreground);
}

.divider {
  background: var(--foreground-20);
  width: 1px;
  margin-left: 0.5em;
  margin-right: 0.5em;
  opacity: 0.5;
}
