html {
  background: var(--background);
  color: var(--foreground);
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  gap: 1em;

  width: 40em;
  max-width: 100vw;
  padding: 4em;
  margin: auto;
}

p, li, a, h1, h2, h3, h4, h5, h6 {
  max-width: 500px;
  margin: 0px;
}

span {
  color: var(--accent);
}

p.caption {
  color: var(--foreground-10);
}

p.caption-faint {
  color: var(--foreground-20);
}

div.card {
  margin-top: 1em;
  background: var(--background-10);
  padding: 2em;
}

div.faint {
  min-height: 20px;
  background: var(--background-20);
  padding: 2em;
}

div.pallets {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0em;
  width: 50px;
}

div.pallets label {
  position: absolute;
  top: 0px;
  right: 0;
  padding: 0.5em 0.1em; 
  writing-mode: vertical-lr;
  text-orientation: mixed;
  background: var(--background);
  border: 1px solid var(--foreground);
}

div.pallets.block label {
  right: -0.9px;
  top: -0.9px;
}

div.pallets > div {
  height: 50px;
  aspect-ratio: 1 / 1;
  background: var(--foreground);
  border: 1px solid var(--foreground);
}

div.bg.pallets {
  flex-direction: column-reverse;
}

div.fg.pallets > div.color {
  background: var(--foreground);
  color: var(--background);
}

div.bg.pallets > div.color {
  background: var(--background);
}

div.ac.pallets > div.color {
  background: var(--accent);
}

.ranges {
  display: flex;
  gap: 0em;
}

.ranges .range {
  display: flex;
  flex-direction: column;
  gap: 0em;
}

.accent-range {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 0em;
}

.accent-range .block {
  background: var(--accent-contrast);
  border: 1px solid var(--foreground);
}

.divider {
  background: var(--foreground-20);
  width: 1px;
  margin-left: 0.5em;
  margin-right: 0.5em;
  opacity: 0.5;
}
