html {
  background: var(--background);
  color: var(--foreground);
}

body {
  display: flex;
  flex-direction: column;
  gap: 1em;

  width: 40em;
  max-width: 100vw;
  padding: 4em;
  margin: auto;
}

p, li, a, h1, h2, h3, h4, h5, h6 {
  max-width: 500px;
  margin: 0px;
}

span {
  color: var(--accent);
}

p.caption {
  color: var(--foreground-10);
}

p.caption-faint {
  color: var(--foreground-20);
}

div.card {
  margin-top: 1em;
  background: var(--background-10);
  padding: 2em;
}

div.faint {
  min-height: 20px;
  background: var(--background-20);
  padding: 2em;
}

div.pallets {
  display: flex;
  gap: 1em;
}

div.pallets > div {
  height: 50px;
  aspect-ratio: 1 / 1;
  background: var(--foreground);
  border: 1px solid var(--foreground);
}
  
div.fg.pallets > div:nth-child(1) {
  background: var(--foreground-20);
}

div.fg.pallets > div:nth-child(2) {
  background: var(--foreground-10);
}

  
div.bg.pallets > div:nth-child(1) {
  background: var(--background-10);
}

div.bg.pallets > div:nth-child(2) {
  background: var(--background-20);
}

div.bg.pallets > div:nth-child(3) {
  background: var(--background);
}

div.ac.pallets > div:nth-child(1) {
  background: var(--accent-10);
}

div.ac.pallets > div:nth-child(2) {
  background: var(--accent-20);
}

div.ac.pallets > div:nth-child(3) {
  background: var(--accent);
}