.rounded {
  padding: var(--space-quark);
  border-radius: var(--radius);
}

.border {
  border-radius: var(--radius);
  border: var(--border-size) solid var(--base-60);
}

// Button Group ==================
.button-group {
  display: flex;
  align-items: center;
}

.button-group > *:not(:last-child, :first-child, :focus),
.button-group > a:not(:last-child, :first-child, :focus) > *:not(:focus) {
  border-right-color: transparent;
  border-radius: 0px;
}

.button-group > *:not(:focus):first-child,
.button-group > a:first-child > *:not(:focus) {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right-color: transparent;
}

.button-group > *:not(:focus):last-child,
.button-group > a:last-child > *:not(:focus) {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
// Button Group ==================
