:root {
  --inner-radius: calc(var(--radius) - var(--space-quark) / 2);
  --radius: 5px;
  --outer-radius: calc(var(--radius) + var(--space-quark));

  --border-size: 1px;
  --border-color: var(--base-30);
  --border: solid var(--border-size) var(--border-color);

  --block-shell: calc(var(--block-big) + var(--space-atom) * 2);
  --block-big: calc(var(--paragraph) + var(--space-atom) * 2);
  --block: calc(var(--paragraph) + var(--space-atom));
  --block-small: var(--paragraph);

  --space-atom: calc(var(--paragraph) * 0.7);
  --space-quark: calc(var(--space-atom) / 2);
}

:root {
  --space-1: calc(var(--paragraph) / 2);
  --space-2: var(--paragraph);
  --space-3: calc(var(--paragraph) + var(--space-atom));
  --space-4: var(--block-big);
  --space-5: calc(var(--block-big) + var(--space-atom) * 2);
  --space-6: calc(var(--block-big) + var(--space-atom) * 4);
  --space-7: calc(var(--block-big) + var(--space-atom) * 6);
  --space-8: calc(var(--block-big) + var(--space-atom) * 8);
  --space-9: calc(var(--block-big) + var(--space-atom) * 10);
  --space-10: calc(var(--block-big) + var(--space-atom) * 12);
}

:root {
  --time: 0.1s;
  --time-2: calc(var(--time) * 2);
  --time-3: calc(var(--time) * 3);
  --time-4: calc(var(--time) * 4);
  --time-6: calc(var(--time) * 6);
  --timing: ease-in-out;
}

:root {
  --svg-color: var(--base-text);
}

:root {
  --base: #16121f;
  --base-10: #1f1b27;
  --base-20: #28242f;
  --base-30: #312d37;
  --base-40: #39363f;
  --base-50: #524f56;
  --base-60: #615e64;
  --base-70: #6e6c70;
  --base-80: #8d8d8d;
  --base-90: #ababa8;
  --base-100: #bdbdb8;
  --base-110: #cacbc4;
  --base-120: #d4d6cd;
  --base-text: #f3f6ea;

  --accent: #9999ff;
  --accent-10: #1b1828;
  --accent-20: #201d31;
  --accent-30: #25223a;
  --accent-40: #2a2743;
  --accent-50: #39365c;
  --accent-60: #423f6b;
  --accent-70: #4a4779;
  --accent-80: #5d5a99;
  --accent-90: #6e6cb7;
  --accent-100: #9999ff;
  --accent-110: #b2affb;
  --accent-120: #c3c0f7;
  --accent-text: #f3f6ea;

  --warning: #ff0000;
  --warning-10: #21151f;
  --warning-20: #2c171f;
  --warning-30: #36191f;
  --warning-40: #3f1b1f;
  --warning-50: #5a1f1e;
  --warning-60: #69201d;
  --warning-70: #77211c;
  --warning-80: #972119;
  --warning-90: #b51f15;
  --warning-100: #ff0000;
  --warning-110: #ff6740;
  --warning-120: #ff8e69;
  --warning-text: #f3f6ea;

  --success: #00ff00;
  --success-10: #1a1c21;
  --success-20: #1e2523;
  --success-30: #222e25;
  --success-40: #253727;
  --success-50: #2c522a;
  --success-60: #2f622b;
  --success-70: #31702c;
  --success-80: #33922c;
  --success-90: #31b229;
  --success-100: #00ff00;
  --success-110: #78ff5f;
  --success-120: #9ffe85;
  --success-text: #f3f6ea;

  --info: #2bb8e6;
  --info-10: #191927;
  --info-20: #1c202f;
  --info-30: #1f2737;
  --info-40: #212d3f;
  --info-50: #274055;
  --info-60: #2a4b62;
  --info-70: #2c556e;
  --info-80: #2f6c8a;
  --info-90: #3082a5;
  --info-100: #2bb8e6;
  --info-110: #75c7e7;
  --info-120: #99d3e8;
  --info-text: #f3f6ea;

  --yellow: #ffff00;
  --yellow-10: #201c22;
  --yellow-20: #2a2524;
  --yellow-30: #332e26;
  --yellow-40: #3c3728;
  --yellow-50: #57512c;
  --yellow-60: #66612d;
  --yellow-70: #746f2e;
  --yellow-80: #95912e;
  --yellow-90: #b4b12b;
  --yellow-100: #ffff00;
  --yellow-110: #fffd62;
  --yellow-120: #fefb88;
  --yellow-text: #f3f6ea;
}

.base-accent {
  --base: var(--accent);
  --base-10: var(--accent-10);
  --base-20: var(--accent-20);
  --base-30: var(--accent-30);
  --base-40: var(--accent-40);
  --base-50: var(--accent-50);
  --base-60: var(--accent-60);
  --base-70: var(--accent-70);
  --base-80: var(--accent-80);
  --base-90: var(--accent-90);
  --base-100: var(--accent-100);
  --base-110: var(--accent-110);
  --base-120: var(--accent-120);
  --base-text: var(--accent-text);
}

.accent-warning {
  --base: var(--warning);
  --base-10: var(--warning-10);
  --base-20: var(--warning-20);
  --base-30: var(--warning-30);
  --base-40: var(--warning-40);
  --base-50: var(--warning-50);
  --base-60: var(--warning-60);
  --base-70: var(--warning-70);
  --base-80: var(--warning-80);
  --base-90: var(--warning-90);
  --base-100: var(--warning-100);
  --base-110: var(--warning-110);
  --base-120: var(--warning-120);
  --base-text: var(--warning-text);
}

.base-warning {
  --base: var(--warning);
  --base-10: var(--warning-10);
  --base-20: var(--warning-20);
  --base-30: var(--warning-30);
  --base-40: var(--warning-40);
  --base-50: var(--warning-50);
  --base-60: var(--warning-60);
  --base-70: var(--warning-70);
  --base-80: var(--warning-80);
  --base-90: var(--warning-90);
  --base-100: var(--warning-100);
  --base-110: var(--warning-110);
  --base-120: var(--warning-120);
  --base-text: var(--warning-text);
}

.base-success {
  --base: var(--success);
  --base-10: var(--success-10);
  --base-20: var(--success-20);
  --base-30: var(--success-30);
  --base-40: var(--success-40);
  --base-50: var(--success-50);
  --base-60: var(--success-60);
  --base-70: var(--success-70);
  --base-80: var(--success-80);
  --base-90: var(--success-90);
  --base-100: var(--success-100);
  --base-110: var(--success-110);
  --base-120: var(--success-120);
  --base-text: var(--success-text);
}

.base-info {
  --base: var(--info);
  --base-10: var(--info-10);
  --base-20: var(--info-20);
  --base-30: var(--info-30);
  --base-40: var(--info-40);
  --base-50: var(--info-50);
  --base-60: var(--info-60);
  --base-70: var(--info-70);
  --base-80: var(--info-80);
  --base-90: var(--info-90);
  --base-100: var(--info-100);
  --base-110: var(--info-110);
  --base-120: var(--info-120);
  --base-text: var(--info-text);
}

.base-yellow {
  --base: var(--yellow);
  --base-10: var(--yellow-10);
  --base-20: var(--yellow-20);
  --base-30: var(--yellow-30);
  --base-40: var(--yellow-40);
  --base-50: var(--yellow-50);
  --base-60: var(--yellow-60);
  --base-70: var(--yellow-70);
  --base-80: var(--yellow-80);
  --base-90: var(--yellow-90);
  --base-100: var(--yellow-100);
  --base-110: var(--yellow-110);
  --base-120: var(--yellow-120);
  --base-text: var(--yellow-text);
}
