:root {
  --base: #f3f6ea;
  --base-10: #ebeee3;
  --base-20: #dbddd4;
  --base-30: #d1d2ca;
  --base-40: #c6c8c1;
  --base-50: #bec0ba;
  --base-60: #b2b2ae;
  --base-70: #a5a5a2;
  --base-80: #8a8989;
  --base-90: #7e7d7e;
  --base-100: #727173;
  --base-110: #3f3c43;
  --base-120: #17131d;
  --base-text: #080113;
  --accent: #f3f6ea;
  --accent-10: #e0dbf5;
  --accent-20: #d9d3f2;
  --accent-30: #d6cee5;
  --accent-40: #c9bde2;
  --accent-50: #b6a5df;
  --accent-60: #a995dc;
  --accent-70: #9d87d9;
  --accent-80: #8168d3;
  --accent-90: #6e56cf;
  --accent-100: #5032c8;
  --accent-110: #3b239e;
  --accent-120: #28176e;
  --accent-text: #080113;
  --accent2: #f3f6ea;
  --accent2-10: #f9d8d9;
  --accent2-20: #f8ced0;
  --accent2-30: #f7cfc2;
  --accent2-40: #f7bfb1;
  --accent2-50: #f5a699;
  --accent2-60: #f3968a;
  --accent2-70: #f1867c;
  --accent2-80: #ea615e;
  --accent2-90: #e5484d;
  --accent2-100: #e22128;
  --accent2-110: #b3151b;
  --accent2-120: #7b0e11;
  --accent2-text: #080113;
  --accent3: #f3f6ea;
  --accent3-10: #d7f3e6;
  --accent3-20: #cbf0de;
  --accent3-30: #c8e3ca;
  --accent3-40: #b7dbbe;
  --accent3-50: #9cceaa;
  --accent3-60: #89c69e;
  --accent3-70: #78bf93;
  --accent3-80: #4fae7a;
  --accent3-90: #30a46c;
  --accent3-100: #26935e;
  --accent3-110: #1a7449;
  --accent3-120: #125233;
  --accent3-text: #080113;
}

.inverted-theme {
  --base: #080113;
  --base-10: #15111c;
  --base-20: #1c1923;
  --base-30: #24212a;
  --base-40: #2c2932;
  --base-50: #322f37;
  --base-60: #3d3a41;
  --base-70: #47454b;
  --base-80: #605e62;
  --base-90: #6b6a6c;
  --base-100: #777677;
  --base-110: #afb0ab;
  --base-120: #e3e5db;
  --base-text: #f3f6ea;
  --accent: #080113;
  --accent-10: #0b071a;
  --accent-20: #100a25;
  --accent-30: #19103a;
  --accent-40: #22164f;
  --accent-50: #2c1d68;
  --accent-60: #35237e;
  --accent-70: #422c9b;
  --accent-80: #4f35bb;
  --accent-90: #6e56cf;
  --accent-100: #816bd5;
  --accent-110: #a99be3;
  --accent-120: #d0c8f0;
  --accent-text: #f3f6ea;
  --accent2: #080113;
  --accent2-10: #1e0405;
  --accent2-20: #2a0607;
  --accent2-30: #430a0b;
  --accent2-40: #5b0d10;
  --accent2-50: #791115;
  --accent2-60: #911519;
  --accent2-70: #b41a1f;
  --accent2-80: #d91f25;
  --accent2-90: #e5484d;
  --accent2-100: #e86166;
  --accent2-110: #f09497;
  --accent2-120: #f6c3c5;
  --accent2-text: #f3f6ea;
  --accent3: #080113;
  --accent3-10: #07170f;
  --accent3-20: #091f14;
  --accent3-30: #0d2e1e;
  --accent3-40: #123d28;
  --accent3-50: #174f34;
  --accent3-60: #1b5e3e;
  --accent3-70: #21734c;
  --accent3-80: #28895a;
  --accent3-90: #30a46c;
  --accent3-100: #3bc683;
  --accent3-110: #7bd9ac;
  --accent3-120: #bcebd4;
  --accent3-text: #f3f6ea;
}
