html {
  background: var(--base);
  color: var(--base-120);
}

:root {
  --background: #0c0915;
  --background-10: #1e1a23;
  --background-20: #423b40;
  --foreground: #c0aea3;
  --foreground-10: #9c8d87;
  --foreground-20: #665c5c;
}
