@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
  --font-bold: 'wght' 900, 'wdth' 100;
  --font-semibold: 'wght' 800, 'wdth' 100;
  --font-medium: 'wght' 700, 'wdth' 100;
  --font-regular: 'wght' 230, 'wdth' 100;
  --font-light: 'wght' 200, 'wdth' 100;
}

:root {
  --paragraph: 1.2rem;
  --h1-display-size: clamp(2.4rem, 5vw, 5rem);
  --h1-size: clamp(2rem, 2.9vw, 5rem);
  --h2-size: clamp(1.8rem, 2vw, 3rem);
  --h3-size: clamp(1rem, 1.6vw, 2rem);
  --h4-size: clamp(1rem, 1.3vw, 1.5rem);
  --h5-size: clamp(1rem, 1.2vw, 1.2rem);
  --h6-size: clamp(1rem, 1vw, 1rem);
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', 'Flexa', sans-serif;
  font-size: clamp(13.5px, 0.8vw, 24px);
}

body {
  line-height: 1.5;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
button {
  max-width: clamp(100px, 100vw, 55ch);
  letter-spacing: 0em;
  text-wrap: balance;
  word-break: break-all;
  white-space: pre-wrap;
  text-transform: capitalize;
}

h1.display,
.h1.display {
  font-size: var(--h1-display-size);
  line-height: var(--h1-display-size);
  font-variation-settings: var(--font-bold);
}

h1,
.h1 {
  text-align: left;
  font-size: var(--h1-size);
  line-height: var(--h1-size);
  font-variation-settings: var(--font-bold);
}

h2,
.h2 {
  font-size: var(--h2-size);
  line-height: var(--h2-size);
  font-variation-settings: var(--font-bold);
}

h3,
.h3 {
  font-size: var(--h3-size);
  line-height: var(--h3-size);
  font-variation-settings: var(--font-bold);
}

h4,
.h4 {
  font-size: var(--h4-size);
  line-height: var(--h4-size);
  font-variation-settings: var(--font-bold);
}

h5,
.h5 {
  font-size: var(--h5-size);
  line-height: var(--h5-size);
  font-variation-settings: var(--font-bold);
}

h6,
.h6 {
  font-size: var(--h6-size);
  line-height: var(--h6-size);
  font-variation-settings: var(--font-bold);
}

p,
button,
input::placeholder,
.bodycopy,
blockquote {
  font-size: var(--paragraph);
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0px;
  max-width: clamp(300px, 100vw, 1000px);
  font-variation-settings: var(--font-regular);

  @media (max-width: 2000px) {
    max-width: clamp(300px, 100vw, 700px);
  }
}

p.display-bold {
  font-size: clamp(14px, 2vw, 40px);
  font-variation-settings: var(--font-bold);
}

p.display {
  font-size: clamp(14px, 1.3vw, 24px);
}

p.caption {
  font-size: 1rem;
  line-height: 1rem;
  font-variation-settings: var(--font-light);
}

span,
strong {
  font-variation-settings: var(--font-semibold);
  color: var(--base-120)
}
