@import './base.css';
@import './utility.css';
@import './typography.scss';

$mobile: 360px;
$phablet: 540px;
$tablet: 850px;
$desktop: 1200px;

:root {
  --inner-radius: calc(var(--radius) - var(--space-quark) / 2);
  --radius: 5px;
  --outer-radius: calc(var(--radius) + var(--space-atom));

  --border-size: 1px;
  --border: solid var(--border-size) var(--base-30);

  --block-shell: calc(var(--block-big) + var(--space-atom) * 2);
  --block-big: calc(var(--paragraph) + var(--space-atom) * 2);
  --block: calc(var(--paragraph) + var(--space-atom));
  --block-small: var(--paragraph);

  --space-atom: calc(var(--paragraph) * 0.7);
  --space-quark: calc(var(--space-atom) / 2);
}

:root {
  --space-1: calc(var(--paragraph) / 2);
  --space-2: var(--paragraph);
  --space-3: calc(var(--paragraph) + var(--space-atom));
  --space-4: var(--block-big);
  --space-5: calc(var(--block-big) + var(--space-atom) * 2);
  --space-6: calc(var(--block-big) + var(--space-atom) * 4);
  --space-7: calc(var(--block-big) + var(--space-atom) * 6);
  --space-8: calc(var(--block-big) + var(--space-atom) * 8);
  --space-9: calc(var(--block-big) + var(--space-atom) * 10);
  --space-10: calc(var(--block-big) + var(--space-atom) * 12);
}

:root {
  --time: 0.1s;
  --timing: ease-in-out;
  --slow: 0.2s;
}

:root {
  --base: rgb(0 0 0);
  --base-10: rgb(17 17 17);
  --base-20: rgb(37 37 37);
  --base-30: rgb(55 55 55);
  --base-40: rgb(72 72 72);
  --base-50: rgb(114 114 114);
  --base-60: rgb(147 147 147);
  --base-70: rgb(173 173 173);
  --base-80: rgb(193 193 193);
  --base-90: rgb(220 220 220);
  --base-100: rgb(236 236 236);
  --base-110: rgb(245 245 245);
  --base-120: rgb(249 249 249);
  --base-contrast: rgb(255 255 255);

  --accent: rgb(136 136 255);
  --accent-10: rgb(11 10 17);
  --accent-20: rgb(25 24 37);
  --accent-30: rgb(35 34 55);
  --accent-40: rgb(44 43 72);
  --accent-50: rgb(66 65 114);
  --accent-60: rgb(136 136 255);
  --accent-70: rgb(169 164 255);
  --accent-80: rgb(192 186 255);
  --accent-90: rgb(221 217 255);
  --accent-100: rgb(236 234 255);
  --accent-110: rgb(245 243 255);
  --accent-120: rgb(250 248 255);
  --accent-contrast: rgb(255 255 255);

  --warning: rgb(255 136 136);
  --warning-10: rgb(17 11 11);
  --warning-20: rgb(37 25 25);
  --warning-30: rgb(55 35 35);
  --warning-40: rgb(72 44 44);
  --warning-50: rgb(114 66 66);
  --warning-60: rgb(255 136 136);
  --warning-70: rgb(255 169 169);
  --warning-80: rgb(255 192 192);
  --warning-90: rgb(255 221 221);
  --warning-100: rgb(255 236 236);
  --warning-110: rgb(255 245 245);
  --warning-120: rgb(255 250 250);
  --warning-contrast: rgb(255 255 255);

  --success: rgb(136 255 136);
  --success-10: rgb(11 17 11);
  --success-20: rgb(24 37 24);
  --success-30: rgb(34 55 34);
  --success-40: rgb(43 72 43);
  --success-50: rgb(65 114 65);
  --success-60: rgb(136 255 136);
  --success-70: rgb(164 255 164);
  --success-80: rgb(186 255 186);
  --success-90: rgb(217 255 217);
  --success-100: rgb(234 255 234);
  --success-110: rgb(243 255 243);
  --success-120: rgb(248 255 248);
  --success-contrast: rgb(255 255 255);

  --color: var(--accent);
  --color-10: var(--accent-10);
  --color-20: var(--accent-20);
  --color-30: var(--accent-30);
  --color-40: var(--accent-40);
  --color-50: var(--accent-50);
  --color-60: var(--accent-60);
  --color-70: var(--accent-70);
  --color-80: var(--accent-80);
  --color-90: var(--accent-90);
  --color-100: var(--accent-100);
  --color-110: var(--accent-110);
  --color-120: var(--accent-120);
  --color-contrast: var(--accent-contrast);
}
